<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
<% if current_user.present? %>
	Welcome <%= current_user.email %>
	<%= link_to "Sign out", logout_path %>
<% else %>
	<%= link_to "Register", new_user_path %>
	<%= link_to "Sign in", login_path %>
<% end %>
</p>

<p>
<%= notice %>
<%= alert %>
</p>

<%= yield %>

</body>
</html>
